<!--<?xml version="1.0"?>
<configuration>
  
  <location path="AddAnimal.aspx">
    <system.web>
      <authorization>
        --><!-- The Admin.aspx page will deny all users except those with the "Admin" role --><!--
        <deny users="*" />
        <allow roles="Admin" />
      </authorization>
    </system.web>
  </location>
 
</configuration>-->
